<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Doctor Dashboard - Smart Clinic</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/doctorDashboard.css}">
</head>
<body>
    <div id="header-container"></div>
    <div class="dashboard-container">
        <h1>Doctor Dashboard</h1>
        
        <div class="controls">
            <input type="text" id="searchPatient" placeholder="Search appointments by patient name...">
            <input type="date" id="filterDate" placeholder="Filter by date...">
        </div>

        <div id="appointment-list" class="grid-container">
            <!-- Appointment cards will be injected here -->
        </div>
    </div>
    
    <div id="modal-container"></div>

    <script th:src="@{/js/index.js}"></script>
    <script th:src="@{/js/patientService.js}"></script>
    <script th:src="@{/js/modal.js}"></script>
    <script th:src="@{/js/header.js}"></script>
    <script th:src="@{/js/doctorDashboard.js}"></script>
</body>
</html>
